<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row " >
        <div class="layui-col-md3">
            <div class="layui-btn-group">
                <button class="layui-btn">增加</button>
                <button class="layui-btn">编辑</button>
                <button class="layui-btn">删除</button>
            </div>
        </div>
        <div class="layui-col-md1">
            <label class="layui-form-label">搜索ID： </label>
        </div>
        <div class="layui-col-md2">
            <input class="layui-input" name="id" id="orgName"/>
        </div>
        <div class="layui-col-md4">
            <button class="layui-btn" data-type="reload">搜索</button>
        </div>
    </div>
</div>

<!-- 搜索条件 -->
<div class="queryForm">

</div>
<!-- 表格对象 -->
<table class="layui-hide" id="org_table" lay-filter="org" style="height: 1000px"></table>

<script type="text/html" id="dataEditBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use('table', function () {
        var table = layui.table;

        //表格加载数据
        table.render({
            elem: '#org_table'
            , url: '/org/getOrgList'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', title: 'ID', width: 80, sort: true, fixed: true}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {field: 'orgName', title: '用户名', width: 80}
                , {fixed: 'right', width: 200, align: 'center', toolbar: '#dataEditBar'}
            ]]
            , id: 'orgTableId'
            , page: true
            , height: 'full-40'
        });

        //监听表格复选框选择,参数org为table的lay-filter
        table.on('checkbox(org)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(org)', function (obj) {
            var data = obj.data;
            if (obj.event === 'detail') {
                layer.msg('ID：' + data.id + ' 的查看操作');
            } else if (obj.event === 'del') {
                layer.confirm('确定删除行么', function (index) {
                    //前端删除，后台删除需发请求
                    obj.del();
                    //关闭弹框
                    layer.close(index);
                });
            } else if (obj.event === 'edit') {
                layer.alert('编辑行：<br>' + JSON.stringify(data) + "</br>")
            }
        });

        var $ = layui.$, active = {
            getCheckData: function () { //获取选中数据
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.alert(JSON.stringify(data));
            }
            , getCheckLength: function () { //获取选中数目
                var checkStatus = table.checkStatus('idTest')
                    , data = checkStatus.data;
                layer.msg('选中了：' + data.length + ' 个');
            }
            , isAll: function () { //验证是否全选
                var checkStatus = table.checkStatus('idTest');
                layer.msg(checkStatus.isAll ? '全选' : '未全选')
            }
            , reload: function () {
                var orgName = $('#orgName');
                //执行重载
                table.reload('orgTableId', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {
                            id: orgName.val()
                        }
                    }
                });
            }
        };

        //按钮绑定事件
        $('.queryForm .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });

</script>

</body>
</html>