<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8"/>
	<title>main</title>
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}" />
	<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/main.css}" />
</head>

<body>
<div class="admin-main">
	<blockquote class="layui-elem-quote">
		<p>本模板基于LayUI实现 ,支持所有LayUI组件.</p>
		<br/>
	</blockquote>
	<fieldset class="layui-elem-field">
		<legend>更新日志</legend>
		<div class="layui-field-box">
			<fieldset class="layui-elem-field layui-field-title">
				<legend>版本号:# v1.0 2017-02-23</legend>
				<div class="layui-field-box">
					<p>1、修复若干个bug</p>
				</div>
			</fieldset>
		</div>
	</fieldset>
</div>
</body>

</html>