<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script>


    </script>
</head>
<body>
<div style="margin-top: 10px">

    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">登录名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="loginName" id="loginName" lay-verify="required" placeholder="请输入登录名称" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">登录密码</label>
                <div class="layui-input-inline">
                    <input name="password" id="password" type="password" lay-verify="required" placeholder="请输入登录密码" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="userName" id="userName" lay-verify="required" placeholder="请输入用户名称" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">用户邮箱</label>
                <div class="layui-input-inline">
                    <input type="text" name="email" id="email" lay-verify="required" placeholder="请输入邮箱" autocomplete="off"
                           class="layui-input"/>
                </div>
            </div>

            <div class="layui-form-item" align="center">
                <div class="layui-inline">
                    <button class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" type="reset">重置</button>
                </div>
            </div>
        </div>




    </form>
</div>


<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form;
        var layer = layui.layer;


        //表单提交
        form.on('submit(submit)', function (data) {
            //当前容器的全部表单字段，名值对形式：{name: value}
            console.log(data.field)
            var loading = layer.load(1);
            var url = "create";
            $.ajax({
                url: url,
                contentType: "application/json",
                data: JSON.stringify(data.field), //请求的附加参数，用json对象
                method: 'POST',
                success: function (res) {
                    layer.close(loading);
                    layer.msg("保存成功:" + res.msg);
                }
            });
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });

    });

</script>

</body>
</html>