<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
</head>
<body>

<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md6" style="margin-left: -40px">
            <button id="addBtn" class="layui-btn">新增</button>
            <button id="delBtn" class="layui-btn">删除</button>
            <button id="enableBtn" class="layui-btn">启用</button>
            <button id="disableBtn" class="layui-btn">禁用</button>
            <button id="reloadBtn" class="layui-btn">刷新</button>
        </div>
    </div>
</div>

<!-- 搜索条件 -->
<div class="queryForm">

</div>
<!-- 表格对象 -->
<table class="layui-hide" id="tableId" lay-filter="tableFilter" style="height: 1000px"></table>

<script type="text/html" id="dataEditBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use('table', function () {
        var table = layui.table;

        //表格加载数据
        table.render({
            elem: '#tableId'
            , url: '/user/query'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'id', title: 'ID', width: 80, sort: true, fixed: true}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {field: 'userName', title: '用户名', width: 80}
                , {fixed: 'right', width: 200, align: 'center', toolbar: '#dataEditBar'}
            ]]
            , id: 'tableFilter'
            , page: true
            , height: 'full-40'
        });

        //创建
        $('#addBtn').on('click', function () {
            layer.open({
                type: 2,
                title: '创建新任务',
                maxmin: true,
                shadeClose: false, //点击遮罩关闭层
                area: ['700px', '450px'],
                content: 'edit?optionType=create'
            });
        });



    });

</script>

</body>
</html>