<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title th:text="${sysname}"></title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/login.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/font-awesome.min.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
</head>

<body class="beg-login-bg">
<div class="beg-login-box">
    <header>
        <h1>后台登录</h1>
    </header>
    <div class="beg-login-main">
        <form action="/login" class="layui-form" method="POST">
            <div class="layui-form-item">
                <label class="beg-login-icon">
                    <i class="layui-icon">&#xe612;</i>
                </label>
                <input type="text" name="username" required="required" lay-verify="username" autocomplete="off"
                       placeholder="这里输入登录名" class="layui-input"/>
            </div>
            <div class="layui-form-item">
                <label class="beg-login-icon">
                    <i class="layui-icon">&#xe642;</i>
                </label>
                <input type="password" name="password" lay-verify="password" required="required" autocomplete="off"
                       placeholder="这里输入密码" class="layui-input"/>
            </div>
            <div class="layui-form-item">
                <div class="beg-pull-left beg-login-remember">
                    <label>记住帐号？</label>
                    <input type="checkbox" name="remember-me" value="true" lay-skin="switch" checked="checked"
                           title="记住帐号"/>
                </div>
                <div class="beg-pull-right">
                    <button class="layui-btn layui-btn-primary" lay-filter="login">
                        <i class="layui-icon">&#xe650;</i> 登录
                    </button>
                </div>
                <div class="beg-clear">
                    <div th:if="${(param.error != null)}">
                        <p th:text="用户名或密码错误" style="color: red"></p>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <footer>
        <p>www.wfzhu.com</p>
    </footer>
</div>
<script>
    layui.use(['layer', 'form'], function () {
        var layer = layui.layer,
            $ = layui.jquery,
            form = layui.form;
    });
</script>

</body>

</html>