<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
</head>
<body>
<input type="hidden" th:value="${jobName}" id="jobName"/>
<input type="hidden" th:value="${jobGroup}" id="jobGroup"/>

<!-- 搜索条件 -->
<div class="queryForm">
    <button class="layui-btn" data-type="reload">刷新</button>
</div>

<!-- 表格对象 -->
<table class="layui-hide" id="job_detail_table" lay-filter="job" style="height: 1000px"></table>

<script>
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.jquery;
        layer = layui.layer;

        var jobName = $("#jobName").val();
        var jobGroup = $("#jobGroup").val();

        //表格加载数据
        table.render({
            elem: '#job_detail_table'
            , url: '/job/queryJobDetail'
            , where: {jobName: jobName, jobGroup: jobGroup}
            , cols: [[
                {type: "numbers", fixed: true}
                , {field: 'jobName', title: '任务名称', sort: true, width: '20%'}
                , {field: 'jobClassName', title: '任务类', sort: true, width: '30%'}
                , {field: 'jobGroup', title: '任务组', sort: true, width: '10%'}
                , {
                    field: 'createTime', title: '执行时间', sort: true, width: '18%',
                    templet: function (d) {
                        return timeFormat(d.createTime);
                    }
                }
                , {field: 'remark', title: '描述', sort: true, width: '12%'}
                , {fixed: 'right', field: 'status', title: '结果', sort: true, width: '10%'}
            ]]
            , id: 'jobDetailTableId'
            , page: true
        });

        //事件定义
        var $ = layui.$, active = {
            //执行重载
            reload: function () {
                table.reload('jobDetailTableId', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    , where: {
                        key: {}
                    }
                });
            }
        };

        //按钮绑定事件
        $('.queryForm .layui-btn').on('click', function () {
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        //表格中时间格式化处理
        function timeFormat(timestamp) {
            var time = new Date(timestamp);
            var year = time.getFullYear();
            var month = time.getMonth() + 1;
            var date = time.getDate();
            var hours = time.getHours();
            var minutes = time.getMinutes();
            var seconds = time.getSeconds();
            // return year+'-'+month+'-'+date+' '+hours+':'+minutes+':'+seconds;
            return year + '-' + addZero(month) + '-' + addZero(date) + ' ' + addZero(hours) + ':' + addZero(minutes) + ':' + addZero(seconds);
        }

        //小于10的前面统一加0
        function addZero(d) {
            /*<![CDATA[*/
                if (Number(d) < 10) {
                    return '0' + d;
                } else {
                    return d;
                }
            /*]]>*/
        }

    });

</script>

</body>
</html>