<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
    <script>

         
    </script>
</head>
<body>
<div style="margin-top: 10px">
    <input type="hidden" th:value="${optionType}" id="optionType" />
    <input type="hidden"  th:value="${job.startTime}" id="startTimeLong" />
    <input type="hidden"  th:value="${job.endTime}" id="endTimeLong" />
    <form class="layui-form layui-form-pane" action="">
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">任务名称</label>
                <div class="layui-input-inline">
                    <input type="text" name="jobName" id="jobName" lay-verify="required" placeholder="请输入任务名称" autocomplete="off"
                        th:value="${job.jobName}"   class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">任务组</label>
                <div class="layui-input-inline">
                    <input type="text" name="jobGroup" id="jobGroup" value="DEFAULT" lay-verify="required" placeholder="请输入任务组"
                           th:value="${job.jobGroup}" autocomplete="off" class="layui-input"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">任务描述</label>
            <div class="layui-input-block">
                <input type="text" name="description" lay-verify="required" placeholder="请输入任务描述" autocomplete="off"
                       th:value="${job.description}"  class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">任务类</label>
            <div class="layui-input-block">
                <input type="text" name="jobClassName" lay-verify="required" placeholder="请输入任务类" autocomplete="off"
                       th:value="${job.jobClassName}"   class="layui-input"/>
            </div>
        </div>

        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">开始时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="startTime" id="startTime" lay-verify="datetime"
                              placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">结束时间</label>
                <div class="layui-input-inline">
                    <input type="text" name="endTime" id="endTime" lay-verify="datetime"
                            placeholder="yyyy-MM-dd HH:mm:ss" autocomplete="off" class="layui-input"/>
                </div>
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">cron表达式</label>
            <div class="layui-input-block">
                <input type="text" name="cronExpression" lay-verify="required" placeholder="请输入cron表达式"
                       th:value="${job.cronExpression}"  autocomplete="off" class="layui-input"/>
            </div>
        </div>

        <div th:if="${optionType}!='view'">
            <div class="layui-form-item" align="center">
                <div class="layui-inline">
                    <button class="layui-btn" lay-submit="" lay-filter="submit">提交</button>
                </div>
                <div class="layui-inline">
                    <button class="layui-btn" type="reset">重置</button>
                </div>
            </div>
        </div>
    </form>
</div>


<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form;
        var layer = layui.layer;
        var laydate = layui.laydate;
        var startTimeLong = Number($("#startTimeLong").val());
        var endTimeLong = Number($("#endTimeLong").val());

        //操作加载数据
        var optionType = $("#optionType").val();

        //查看/编辑时禁止修改
        if(optionType=='edit' || optionType=='view'){
            $('#jobName').attr("disabled","disabled");
            $('#jobGroup').attr("disabled","disabled");
            $('#startTime').attr("disabled","disabled");
            $('#endTime').attr("disabled","disabled");
        }


        //开始日期渲染
        laydate.render({
            elem: '#startTime'
            ,type: 'datetime'
            ,value: new Date(startTimeLong)
        });

        //结束日期渲染
        laydate.render({
            elem: '#endTime'
            ,type: 'datetime'
            ,value: new Date(endTimeLong)
        });

        //表单提交
        form.on('submit(submit)', function (data) {
            //当前容器的全部表单字段，名值对形式：{name: value}
            console.log(data.field)
            var loading = layer.load(1);
            var url = "";
            if(optionType=='create'){
                url = "submit";
            }else if(optionType=='edit'){
                url = "update";
            }
            $.ajax({
                url: url,
                contentType: "application/json",
                data: JSON.stringify(data.field), //请求的附加参数，用json对象
                method: 'POST',
                success: function (res) {
                    if (res.success) {
                        post_adduser = false;
                        layer.close(loading);
                        layer.msg("保存成功", {icon: 6, time: 1000}, function () {
                            // 获得frame索引
                            parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            //关闭当前frame
                            parent.layer.close(index);
                        });
                    } else {
                        layer.close(loading);
                        layer.msg("保存失败:" + res.msg);
                    }
                }
            });
            //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            return false;
        });

    });

</script>

</body>
</html>