<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
</head>
<body>
<div class="layui-container">
    <div class="layui-row">
        <div class="layui-col-md6" style="margin-left: -40px">
            <button id="pauseJob" class="layui-btn">暂停任务</button>
            <button id="restartJob" class="layui-btn">启动任务</button>
            <button id="createJob" class="layui-btn">创建新任务</button>
            <button id="deleteJob" class="layui-btn">删除任务</button>
            <button id="reload" class="layui-btn">刷新</button>
        </div>
    </div>
</div>

<!-- 搜索条件 -->
<div class="queryForm">

</div>
<!-- 表格对象 -->
<table class="layui-hide" id="job_table" lay-filter="job" style="height: 1000px"></table>

<script type="text/html" id="dataEditBar">
    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="view">查看</a>
    <a class="layui-btn layui-btn-xs" lay-event="detail">执行情况</a>
    <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>


<script>
    layui.use('table', function () {
        var table = layui.table;
        var $ = layui.jquery;
        layer = layui.layer;

        //表格加载数据
        table.render({
            elem: '#job_table'
            , url: '/job/queryJob'
            , cols: [[
                {checkbox: true, fixed: true}
                , {field: 'jobName', title: '任务名称', sort: true, width: '20%'}
                , {field: 'jobClassName', title: '任务类', sort: true, width: '20%'}
                , {field: 'jobGroup', title: '任务组', sort: true, width: '10%'}
                , {field: 'triggerState', title: '状态', sort: true, width: '10%'}
                , {field: 'cronExpression', title: '任务执行表达式', sort: true, width: '20%'}
                , {fixed: 'right', width: '20%', align: 'center', toolbar: '#dataEditBar'}
            ]]
            , id: 'job_table_id'
            , page: true
            , height: 'full-40'
        });

        //监听表格复选框选择,参数job为table的lay-filter
        table.on('checkbox(job)', function (obj) {
            console.log(obj)
        });

        //监听工具条
        table.on('tool(job)', function (obj) {
            var data = obj.data;
            console.info(data)
            if (obj.event === 'view') {
                layer.open({
                    type: 2,
                    title: '查看任务信息',
                    maxmin: true,
                    shadeClose: false,
                    area: ['700px', '450px'],
                    content: 'edit?optionType=view&amp;jobName=' + data.jobName + "&amp;jobGroup=" + data.jobGroup
                });
            }
            if (obj.event === 'detail') {
                layer.open({
                    type: 2,
                    title: '查看任务执行情况',
                    maxmin: true,
                    shadeClose: false,
                    area: ['1024px', '580px'],
                    content: 'detail?optionType=view&amp;jobName=' + data.jobName + "&amp;jobGroup=" + data.jobGroup
                });
            } else if (obj.event === 'edit') {
                layer.open({
                    type: 2,
                    title: '编辑任务',
                    maxmin: true,
                    shadeClose: false,
                    area: ['700px', '450px'],
                    content: 'edit?optionType=edit&amp;jobName=' + data.jobName + "&amp;jobGroup=" + data.jobGroup
                });
            } else if (obj.event === 'del') {
                layer.confirm('确定删除吗？', function (index) {
                    obj.del();
                    layer.close(index);
                });
            }
        });

        //创建
        $('#createJob').on('click', function () {
            layer.open({
                type: 2,
                title: '创建新任务',
                maxmin: true,
                shadeClose: false, //点击遮罩关闭层
                area: ['700px', '450px'],
                content: 'edit?optionType=create'
            });
        });

        //刷新
        $('#reload').on('click', function () {
            table.reload('job_table_id');
        });


        //暂停
        $('#pauseJob').on('click', function () {
            var rows = table.checkStatus('job_table_id')
            var data = rows.data;
            if(data == 0 ){
                layer.msg("请选择一条记录操作");
                return;
            }
            $.ajax({
                url: "pauseJob",
                contentType: "application/json",
                data: JSON.stringify(data),
                method: 'POST',
                success: function (res) {
                    if (res.success) {
                        layer.msg("操作成功", {icon: 6, time: 1000}, function () {
                            table.reload('job_table_id');
                        });
                    } else {
                        layer.close(loading);
                        layer.msg("操作失败:" + res.msg);
                    }
                }
            });
        });

        //启动
        $('#restartJob').on('click', function () {
            var rows = table.checkStatus('job_table_id')
            var data = rows.data;
            if(data == 0 ){
                layer.msg("请选择一条记录操作");
                return;
            }
            $.ajax({
                url: "resumeJob",
                contentType: "application/json",
                data: JSON.stringify(data),
                method: 'POST',
                success: function (res) {
                    if (res.success) {
                        layer.msg("操作成功", {icon: 6, time: 1000}, function () {
                            table.reload('job_table_id');
                        });
                    } else {
                        layer.close(loading);
                        layer.msg("操作失败:" + res.msg);
                    }
                }
            });
        });

    });

</script>

</body>
</html>