<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>项目列表</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/plugins/layui/css/layui.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/global.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{http://www.jq22.com/jquery/font-awesome.4.6.0.css}"/>
    <script type="text/javascript" th:src="@{/plugins/layui/layui.js}"></script>
    <script type="text/javascript" th:src="@{/jquery/jquery-3.2.1.min.js}"></script>
</head>
<body>


<div style="padding:15px 15px 0">
    <div class="row">
        <div class="col-sm-11">
            <div class="panel">
                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 1px;">
                    <legend>代码生成</legend>
                </fieldset>
                <form class="layui-form layui-form-pane" action="/generator/create">
                    <div class="layui-form-item">
                        <label class="layui-form-label">项目路径:</label>
                        <div class="layui-input-block">
                            <input type="text" name="projectPath" autocomplete="off" placeholder="D:/workspace/projectName"
                                   class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">包路径：</label>
                        <div class="layui-input-block">
                            <input type="text" name="parentPackagePath" lay-verify="required" placeholder="com/xf/system"
                                 value="com/xf/springBootTools/modules"  autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label class="layui-form-label">包名：</label>
                        <div class="layui-input-block">
                            <input type="text" name="packagePath" lay-verify="required" placeholder="org"
                                   autocomplete="off" class="layui-input"/>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-inline">
                            <label class="layui-form-label">搜索选择框</label>
                            <div class="layui-input-inline">
                                <select name="targetName" lay-verify="required" lay-search="" lay-filter="tableName">
                                    <option value="">直接选择或搜索选择</option>
                                    <option th:each="tables:${tables}" th:value="${tables}"
                                            th:text="${tables}"></option>
                                </select>
                            </div>

                        </div>
                    </div>


                <fieldset class="layui-elem-field layui-field-title" style="margin-top: 1px;">
                    <legend>类名</legend>
                </fieldset>
                    <table class="layui-table" lay-filter="test">
                        <thead>
                        <tr>
                            <th lay-data="{field:'id', width:80, sort: true}">文件类型</th>
                            <th lay-data="{field:'username', width:80}">文件名</th>
                            <th lay-data="{field:'sex', width:40, sort: true}">是否创建</th>
                            <th lay-data="{field:'city', width:40}">是否覆盖</th>
                            <th lay-data="{field:'sign'}">选则ftl模板</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>DTO</td>
                            <td><input type="text" id="dto" name="dtoName" lay-verify="required"  autocomplete="off" class="layui-input"/></td>
                            <td><input id="DtoCreateCheck" lay-skin="primary" type="checkbox" checked="checked"/></td>
                            <td><input id="DtoCoverCheck" lay-skin="primary" type="checkbox"/></td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>Controller</td>
                            <td><input type="text" id="controller"  name="controllerName" lay-verify="required"  autocomplete="off" class="layui-input"/></td>
                            <td><input id="ControllerCreateCheck" lay-skin="primary" type="checkbox" checked="checked"/>
                            </td>
                            <td><input id="ControllerCoverCheck" lay-skin="primary" type="checkbox"/>
                            </td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>Mapper</td>
                            <td><input type="text" id="mapper" name="mapperName" lay-verify="required"  autocomplete="off" class="layui-input"/></td>
                            <td><input id="MapperCreateCheck" lay-skin="primary" type="checkbox" checked="checked"/>
                            </td>
                            <td><input id="MapperCoverCheck" lay-skin="primary" type="checkbox"/></td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>MapperXml</td>
                            <td><input type="text" id="mapperXml" name="mapperXmlName" lay-verify="required"  autocomplete="off" class="layui-input"/></td>
                            <td><input id="MapperXmlCreateCheck" lay-skin="primary" type="checkbox" checked="checked"/>
                            </td>
                            <td><input id="MapperXmlCoverCheck" lay-skin="primary" type="checkbox"/>
                            </td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>Service</td>
                            <td><input type="text" id="service" name="serviceName" lay-verify="required"  autocomplete="off" class="layui-input"/></td>
                            <td><input id="ServiceCreateCheck" lay-skin="primary" type="checkbox" checked="checked"/>
                            </td>
                            <td><input id="ServiceCoverCheck" lay-skin="primary" type="checkbox"/>
                            </td>
                            <td>...</td>
                        </tr>
                        <tr>
                            <td>ServiceImpl</td>
                            <td><input type="text" id="serviceImpl"  name="implName" lay-verify="required"  autocomplete="off" class="layui-input"/></td>
                            <td><input id="ServiceImplCreateCheck" lay-skin="primary" type="checkbox"
                                       checked="checked"/></td>
                            <td><input id="ServiceImplCoverCheck" lay-skin="primary" type="checkbox"/>
                            </td>
                            <td>...</td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="layui-form-item" align="center">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit="" lay-filter="submitBtn">创建</button>
                            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , checkbox = layui.checkbox
            , select = layui.select
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //下拉框监听事件
        form.on('select(tableName)', function (data) {
            var text = data.value;
            if (text == null || text == '') {
                return;
            }
            //var name = text.substring(text.indexOf("_"));
            var name = text;
            name = name.toLowerCase();
            name = name.substring(0, 1).toUpperCase() + name.substring(1);
            name = tocalme(name);
            $('#dto').val(name + ".java");
            $('#controller').val(name + "Controller.java");
            $('#mapper').val(name + "Mapper.java");
            $('#mapperXml').val(name + "Mapper.xml");
            $('#service').val(name + "Service.java");
            $('#serviceImpl').val(name + "ServiceImpl.java");
        });

        form.on('submit(submitBtn)', function(data){
            console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            var datas=data.field;
            var action=data.form.action;
            $.ajax({
                url:action,
                data:datas,
                type:"POST",
                dataType:"json",
                success:function(msg){
                    console.log(msg)
                    alert('success');
                    //window.location.href="main";
                },
                error:function(error){
                    alert(error)
                }
            });
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

    function submit(){
        var t = $('form').serializeArray();
        console.info(t)
    }

    function tocalme(str) {
        var re = /_(\w)/g;
        return str.replace(re, function ($0, $1) {
            return $1.toUpperCase();
        });
    }
</script>

</body>
</html>